♦<div th:switch="${players}">
    <h2 th:case="null">No players yet!</h2>
    <div th:case="*">
        <h2>Players</h2>
        <table>
            <thead>
            <tr>
                <th>LastName</th>
                <th>birthDate</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="player : ${players}">
                <td th:text="${player.lastName}"></td>
                <td th:text="${player.birthDate}"></td>
                <td><a th:href="@{/edit/{id}(id=${player.id})}">Edit</a></td>
                <td><a th:href="@{/delete/{id}(id=${player.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/addPlayer">Add a new player</a></p>
</div>